<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="songmofan.baway.com.myhaitao">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- 相机 -->
    <uses-permission android:name="android.permission.CAMERA" />
    <!-- 振动 -->
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".view.activity.MainActivity"
            android:label="."
            android:launchMode="singleTask">
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.xys.libzxing.zxing.activity.CaptureActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity android:name=".view.activity.UserLogInAcitviy" />
        <activity android:name=".view.activity.LoginActivity" />
        <activity android:name=".view.activity.LineActivity" />
        <activity android:name=".view.activity.XiangqActivity" />
        <activity android:name=".view.activity.XiangqyActivity" />
        <activity android:name=".view.activity.OrderMassages" />
        <activity android:name=".view.activity.PayActivity"></activity>
    </application>

</manifest>